.list-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.list-container .list-container_header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.list-container header h1 {
    color: white;
}

.list-container .list-container_button {
    display: flex;
    align-items: center;
    height: fit-content;
    line-height: 1;
}

.list-container main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: 5%;
    padding-block: 3%;
    background-color: white;
}

.list-container .list-container_link {
    text-decoration: none;
    height: fit-content;
}

/*Estilos para el formulario*/
.form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.form-modal .client-form {
    background-color: white;
    margin-inline: 5%;
    padding-inline: 5%;
    padding-block: 3%;

}

.form-modal .content {
    width: 80%;
    max-width: 600px;
}

.form-modal h2 {    
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(4,18,51,1);
}