.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(4,18,51,1) max(40vh,300px), rgba(238,238,238,1) max(40vh,300px));
  padding-block: 10vh;
  padding-inline: 5vw;
}